# Dependency directories
node_modules/
jspm_packages/
web_assets/

# Build outputs
dist/
tmp/
out/
build/
web-build/
*.apk
app-release.apk

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Expo
.expo/
*.jks
*.p8
*.keystore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.ipynb_checkpoints/

# Local/temp files
excl.txt
temp.pth
